body {
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pw-button {
  outline: none;
  border: none;
}

.pw-button:hover::before {
  background-color: #255B6E;
  box-shadow: 18px 9px rgba(0,0,0,0.2);
}

.pw-button::before {
  padding:20px 32px;
  font-size: xx-large;
  border-radius: 10px;
  background-color: #043353;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  content: "PW Skills";
}
