@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');





 h1{
    font-family: Oswald,sans-serif;
    text-align: center;
 }

 .svg{
   width: 100px;
   margin: auto;
 }

 p{
   font-size: large;
   font-family: Montserrat,sans-serif;
   padding: 4vh 25vw;
   line-height: 40px;
 }
