* {
    margin: 0;padding: 0;
}

.main {
    width: 636px;
    margin: 50px auto;
    background-color: #FFC473;
    border-radius: 25px;
    filter: blur(2px);
    opacity:0.5 ;
    img{
        border-radius: 50px;
        padding: 20px;
    }
    p{
        padding-bottom: 25px;
        text-align: center;
        font-size: x-large;
    }
    span.head{
        font-weight: bolder;
    }
}

.main:hover{
    opacity: 1;
    filter: blur(0px);
}