* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main {
  display: flex;
  height: 97vh;
}

.vande-bharat-express-rail {
  width: 50%;
  height: 99.55vh;
}

.home {
  width: 45%;
  margin-left: 6%;
  margin-top: 4%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  .nav-links {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

  .nav-links-item {
    div {
      cursor: pointer;
    }
    .nav-buttons {
      margin-top: 15%;
      padding: 8px 10px;
      border-radius: 8px;
      text-align: center;
      border: 1px solid #b9b9b9;
    }
  }
  .login{
    background-color: #ff8940ee;
  }
  .logos {
    width: 40%;
    display: flex;
    gap: 10%;
  }
}

.head {
  width: 100%;
  height: 25%;
  margin-top: 6%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;

  .head-text {
    font-size: xxx-large;
    font-weight: bolder;
    color: #3c3c3c;
  }

  .tagline {
    display: flex;
    gap: 5%;
    font-size: xx-large;

    .safety {
      color: #01bb0a;
    }
    .security {
      color: #fb792b;
    }
    .punctuality {
      color: #213d77;
    }
  }
}

.options {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
  gap: 25px;
  div {
    display: flex;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: #3c3c3c;
    height: 45px;
    border: 1px solid #9c9c9c;
    border-radius: 8px;
    cursor: pointer;
  }
  .book-tickets {
    background-color: #163c88;
    color: #f2f2f2;
  }
  .book-tickets::before {
    content: url(./assets/book-ticket.png);
    width: 25px;
    padding-right: 10px;
    margin-top: 4px;
  }
  .pnr-status::before {
    content: url(./assets/pnr-status.png);
    width: 25px;
    padding-right: 10px;
    margin-top: 4px;
  }
  .charts-vacency::before {
    width: 25px;
    content: url(./assets/charts-vacancy.png);
    padding-right: 10px;
    margin-top: 4px;
  }
}

.from,.to {
  display: flex;
  padding-top: 7px;
  color: #717171;
}

.from::after,.to::after {
  content: url(./assets/expand-more.png);
  cursor: pointer;
}


.booking {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  .booking-place {
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 92.5%;
    border-radius: 15px;
    margin-bottom: 2.5%;
    .place-details,.destination {
      display: flex;
      .place-name{
        font-size: larger;
        font-weight: bold;
        color: #3c3c3c;
        cursor: pointer;
      }
      .station-name{
        display: flex;
        color: #717171;
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: pointer;
      }
    }
  }
}

.place-details-img,.destination-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;
}

.revert{
  content: url(./assets/from-to.png);
  cursor: pointer;
}

.train-search{
  width: 92.5%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #01bb0a;
  color: white;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  gap: 20px;
}
